/* CSS declarations go here */
.item{
	min-height:140px;
}

.card{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: gray;
}

.card:hover{
	border-bottom-color: #0275d8;
}

.noa{
	color:inherit;
}

.ingress{
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

.unstyled{
  padding-left: 0px;
}